.portfolio{
   position: relative;
   width: 100%;
   min-height: 100vh;
   margin: 0;
}

.portfolio .title h1{
   color: white;
}
.portfolio .title .progress-bar{
   height: 10px;
   border-radius: 3px;
   background-color: white;
   overflow-x: auto;
   width: auto;

}
 
 .portfolio_contents{
   height: 100%;
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
 }
section{
   height: 400px;
   width: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
}
 .row{
   width: 80%;
   margin: auto;
   display: flex;
   
align-items: center;
justify-content: center;
background-color:  none;

}

@media screen and (max-width:750px){
   .portfolio_contents .row{
      width: 100%;
   } 
   .portfolio_contents{
      gap: 50px;
   }
   .portfolio_contents section{
      width: 100%;
   }
}

.portfolio_contents .row .content{
   position: relative;
   transition: .3s;
   background: none;
   flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
 justify-content: center ;
 padding-left: 20px;
 height: auto;
}
.portfolio_contents .row .content .head h2{
white-space: nowrap;
}
.portfolio_contents .row .content p{
   
   text-overflow: ellipsis;
   overflow: hidden;
}
.portfolio_contents .row .image{
   height: 100%;
   flex: 1;
   text-align: center;
}

 .portfolio_contents .row .image  img{
   border-radius: 10px;
box-shadow: 0px 1px 7px rgb(143, 182, 207);
 width:100%; 
 height: 100%;
}

.portfolio_contents .row .content .links{
   display: flex;
   justify-content:left;
   gap: 20px;
}
.portfolio_contents .row .content .links
a{
   cursor: pointer;

}
@media screen and (max-width:540px) {
   .portfolio_contents .row {
      flex-direction: column;
   } 
   .portfolio_contents .row .content{
      flex: auto;
      height: fit-content;
      gap: 0;

   }
   .portfolio_contents .row .content p{
      height: fit-content;
   }
}